SERVER_PORT=3000
DB_URI=
DB_USERNAME=
DB_PASSWORD=
DB_NAME=general
JWT_SECRET=
JWT_PUBLIC=
JWT_EXPIRATION=1m
JWT_ISSUER=
JWT_AUDIENCE=
JWT_KEY_ID=v1

NODEMAILER_TRANSPORT=gmail
NODEMAILER_SENDER_EMAIL=
NOTIFICATION_URL=http://localhost:3000
GMAIL_CLIENT_ID=
GMAIL_CLIENT_SECRET=
GMAIL_REDIRECT_URI=
GMAIL_REFRESH_TOKEN=
GMAIL_ACCESS_TOKEN=
GMAIL_USER=
APP_NAME=AUTH